<div class="container">

    <div id="wrapper">

<div id="comanda">


  <span class="header">Pizzaria Horácio</span>

  <h1 class="header" >COMANDA</h1>
  <form class="mt-5" [formGroup]="formComanda">
      <div id="container_demo">
    <p>
      <label>Chopp</label>
      <input type="text" name="inChopp" formControlName="inChopp"/>
    </p>
  

    <div id="container-demo">
    <p>
        <label>Pizzas</label>
        <input type="text" name="inPizza"/>
        </p>
      </div>
      <p>
          <label>Recheios</label>
          <input type="text" name="inRecheios"/>
        </p>

        <p>
            <label>Pessoas</label>
            <input type="text" name="inPessoas"/>
          </p>
        

    <p class="keepcomanda">
      <input type="checkbox" name="inServico"/>
      <label>Taxa de servico</label>
    </p>
  </div>

    <p class="comanda button">
      <input type="submit" value="Registrar"/>
    </p>
  </form>

  <p class="about"> Leonardo Salazar e Thalyta Sales

  </p>
  
</div>
</div>
</div>